# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# --- KiCad Ignores ---
*-bak
*.bck
*-backups/
*.kicad_pcb-bak
*.kicad_sch-bak
_autosave-*
*.gbr
*.drl
*.net

# --- STM32 Ignores ---
/Firmware/Debug/
/Firmware/Release/
*.o
*.elf
*.hex
*.bin
*.map
*.lst
